.container {
    width: 100vw;
    overflow: hidden;
  }
  
  .marquee {
    background-color: #9195d0;
    overflow: hidden;
    user-select: none;
    display: flex;
    gap: var(--gap);
    transform: rotate(0deg);
    margin-bottom: 40px;
  }
  
  .marquee-content {
    background-color: #9195d0;
    list-style: none;
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    animation: marquee 24s linear infinite;
  }

  .text {
    background:white;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 50px;
    white-space: nowrap;
    font-family: 'Phudu', sans-serif;
  }

    @media (max-width: 480px) {
    .text {
      font-size: 25x;
    }
  }
  
  /* 🛠 KEYFRAMES MUST BE OUTSIDE media query */
  @keyframes marquee {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }