<section class="community-wrapper">
    <div class="community-upper">
      <h2 class="community-title">COMMUNITY</h2>
      <p class="community-descriptions">
        <strong>VNQUANTUM</strong> is a project about something something something
        something something something something something something something
        something something something something something something something something something something something something
        something something something.
      </p>
    </div>

    <div class="community-container">
        <div class="community-container-col1">
        <div class="community-card knowledge-card">
            <img class="knowledge-icon" src="image/cat-placeholder.jpeg" alt="Knowledge Icon">
            <div class="card-text">
                <h3 class="community-card-title">KNOWLEDGE</h3>
                <p class="community-card-descriptions"><strong>VNQUANTUM</strong> is a project about something something something something</p>
            </div>
        </div>

        <div class="community-card science-card">
            <img class="science-icon" src="image/cat-placeholder.jpeg" alt="Science Icon">
            <div class="card-text">
                <h3 class="community-card-title">SCIENCE</h3>
                <p class="community-card-descriptions"><strong>VNQUANTUM</strong> is a project about something something something something</p>
            </div>
        </div>
        </div>
        
        <div class="community-container-col2">
        <div class="community-card computing-card">
            <img class="computing-icon" src="image/cat-placeholder.jpeg" alt="Computing Icon">
            <div class="card-text">
                <h3 class="community-card-title">COMPUTING</h3>
                <p class="community-card-descriptions"><strong>VNQUANTUM</strong> is a project about something something something something</p>
            </div>
        </div>

        <div class="community-card art-card">
            <img class="art-icon" src="image/cat-placeholder.jpeg" alt="Art Icon">
            <div class="card-text">
                <h3 class="community-card-title">ART</h3>
                <p class="community-card-descriptions"><strong>VNQUANTUM</strong> is a project about something something something something</p>
            </div>
        </div>
        </div>
    </div>
</section>