
<section class="event-background">
    <div class = "event-wrapper">
        <div class="event-upper">
            <h1 class="event-title">EVENTS</h1>
        </div>
        <div class="event-grid">
            <!-- JavaScript will insert event cards here -->
        </div>
            <div class="more-events-container">
                <button class="more-events-button" href="">
                    MORE EVENTS
                    <span class="more-events-icon">
                        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 17L17 7M17 7H7M17 7V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>
            </div>
    </div>
</section>