<section class="header-wrapper">
  <div class="header-section">
    <div class="header-left-text">
      <h1 class="header-title">MORE THAN JUST A PARTICLE</h1>
      <p class="header-description">
        A qubit can be 0, 1 or somewhere in between,<br>
        thanks to a fundamental law of quantum<br>
        mechanics: superposition.
      </p>
      <a href="#" class="header-button">
        BECOME A SCHRODINGER'S CAT
        <span class="header-icon">
          <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 17L17 7M17 7H7M17 7V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
      </a>
    </div>
    <div class="header-iframe-container">
        <iframe src="https://my.spline.design/celestialflowabstractdigitalform-53H6w0RJxqYAQn0KtkDK3J6J/" 
        frameborder="0" width="100%" height="100%"></iframe>
      </div>
      
    </div>

</section>