<section class="cards-container-sec">
  <div class="card-upper">
    <h2 class="header-card-title">EXPERT</h2>
      <p class="header-card-description">
        <strong>VNQUANTUM</strong> is a project about something something something
        something something something something something something something
        something something something something something something something something something something something something
        something something something something something.
      </p>
  </div>

  <div class="cards-container">
    <!-- Card 1 -->
    <div class="info-card">
      <div class="card-header">
        <img src="image/ball.png" alt="Knowledge Icon" class="icon" />
        <h2>KNOWLEDGE</h2>
      </div>
      <ul class="card-list-community">
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
      </ul>
      <!--<button class="cta-button">JOIN THE TEAM <span>↗</span></button>-->
    </div>
  
    <!-- Card 2 -->
    <div class="info-card">
      <div class="card-header">
        <img src="image/community.png" alt="Community Icon" class="icon" />
        <h2>COMMUNITY</h2>
      </div>
      <ul class="card-list-community">
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
        <li><strong>VNQUANTUM</strong> is a project about something something something something</li>
      </ul>
      <!--<button class="cta-button">JOIN THE TEAM <span>↗</span></button>-->
    </div>
  </div>
</section>