<section class="container">
    <div class="marquee">
      <ul class="marquee-content">
        <li class="text">QUANTUM LOVE</li>
        <li class="text">QUANTUM LOVE</li>
        <li class="text">QUANTUM LOVE</li>
        <li class="text">QUANTUM LOVE</li>
      </ul>
      <ul class="marquee-content" aria-hidden="true">
        <li class="text">QUANTUM LOVE</li>
        <li class="text">QUANTUM LOVE</li>
        <li class="text">QUANTUM LOVE</li>
        <li class="text">QUANTUM LOVE</li>
      </ul>
    </div>
  </section>