<section class="header-who-wrapper">
    <div class="header-who-upper">
      <h2 class="header-who-title">WHO ARE WE</h2>
      <p class="header-who-description">
        <strong>VNQUANTUM</strong> is a project about something something something
        something something something something something something something
        something something something something something something something something something something something something
        something something something something something.
      </p>
    </div>
  
    <div class="header-who-grid">
      
      <div class="header-who-card">
        <img src="image/ball.png" alt="Quantum Sphere" class="header-who-card-img" />
        <div class="header-who-card-content">
          <h3 class="header-who-card-title">EXPERTS</h3>
          <p class="header-who-card-description">
            VNQUANTUM is a project about something something something
            something something something something.
          </p>
          <a href="#" class="header-who-card-button">
            JOIN THE TEAM
            <span class="header-who-card-icon">
              <span class = "header-who-card-arrow">↗</span>
            </span>
          </a>
        </div>
      </div>
  
      <div class="header-who-card">
        <img src="image/your-cat-image.png" alt="Community Cat" class="header-who-card-img" />
        <div class="header-who-card-content">
            <h3 class="header-who-card-title">COMMUNITY</h3>
            <p class="header-who-card-description">
                VNQUANTUM is a project about something something something
                something something something something.
            </p>
            <a href="#" class="header-who-card-button">
                SUBMERGE
                <span class="header-who-card-icon">
                  <span class = "header-who-card-arrow">↗</span>
                </span>
            </a>
        </div>
      </div>
  
    </div>
</section>